body {
    overflow-x: hidden;
}

/* navigation */
.hamburger-menu {
    width: 65px;
    height: 65px;
    background: #7f7b82;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 200;
    border-radius: 50%;
    outline: none!important;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.line1, 
.line2,
.line3 {
    width: 30px;
    height: 2px;
    background: #eee;
    margin: 5px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.bg-cover {
    background: rgba(35, 37, 40, .98);
    width: 55px;
    height: 55px;
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 100;
    border-radius: 50%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.change .line1 {
    -webkit-transform: rotate(-405deg) translate(-5px, 5px);
        -ms-transform: rotate(-405deg) translate(-5px, 5px);
            transform: rotate(-405deg) translate(-5px, 5px);
    background: #777;
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    -webkit-transform: rotate(405deg) translate(-5px, -5px);
        -ms-transform: rotate(405deg) translate(-5px, -5px);
            transform: rotate(405deg) translate(-5px, -5px);
    background: #777;
}

.change .hamburger-menu {
    background: #eef0eb;
}

.change .bg-cover {
    -webkit-transform: scale(150);
        -ms-transform: scale(150);
            transform: scale(150);
}

.nav-content {
    position: fixed;
    z-index: 150;
    width: 100%;
}

.link-item {
    font-size: 20px;
    color: #eee;
    border-bottom: 1px solid #eee;
}

.link-item:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 50% 50% 0 0;
    background: rgba(0, 0, 0, .3);
}
/* end of navigation */

/* header */
header {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .8))), url(../img/header-bg.jpeg) center /cover no-repeat fixed;
    background: -o-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(../img/header-bg.jpeg) center /cover no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(../img/header-bg.jpeg) center /cover no-repeat fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.banner-heading:first-letter {
    font-family: 'Great Vibes', cursive;
    font-size: 10rem;
    margin-right: 20px;
}

.banner-heading img {
    -webkit-animation: beating 2s infinite;
            animation: beating 2s infinite;
}

@-webkit-keyframes beating {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes beating {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    60% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
/* end of header */

/* common-title */
.common-title {
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px #aaa;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.common-title:first-letter {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    margin-right: 10px;
    font-style: normal;
}

.common-title:hover {
    -webkit-transform: translate(-5px, -3px);
        -ms-transform: translate(-5px, -3px);
            transform: translate(-5px, -3px);
    text-shadow: 2px 5px 20px #aaa;
}
/* end of common-title */

/* gallery */
.gallery-img {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.gallery-img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.first-row {
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0;
    -webkit-transition: all 2.5s;
    -o-transition: all 2.5s;
    transition: all 2.5s;
}

.second-row {
    -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
    -webkit-transition: all 2.5s;
    -o-transition: all 2.5s;
    transition: all 2.5s;
}

.change .first-row, .change .second-row {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
}
/* end of gallery */

/* famous writers */
.famous-writers {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, .8)), to(rgba(250, 250, 250, .9))), url(../img/writers-bg.jpeg) center /cover no-repeat fixed;
    background: -o-linear-gradient(rgba(250, 250, 250, .8), rgba(250, 250, 250, .9)), url(../img/writers-bg.jpeg) center /cover no-repeat fixed;
    background: linear-gradient(rgba(250, 250, 250, .8), rgba(250, 250, 250, .9)), url(../img/writers-bg.jpeg) center /cover no-repeat fixed;
}

/* end of famous writers */

/* suggested books */
.suggested-books {
    height: 100vh;
    background: url(../img/wood-bg.jpeg) center /cover no-repeat;
}

.books {
    position: relative;
    height: 50vh;
}

.book {
    width: 35%;
    position: absolute;
    -webkit-box-shadow: 5px 5px 15px #444;
            box-shadow: 5px 5px 15px #444;
    border-right: 5px solid #777;
    border-bottom: 10px solid #444;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.book-1 {
    top: 5%;
    left: 20%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.book-2 {
    top: 20%;
    left: 50%;
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
}

.book-3 {
    top: 40%;
    left: 40%;
    -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
            transform: rotate(55deg);
}

.book-4 {
    top: 35%;
    left: 10%;
    -webkit-transform: rotate(-38deg);
        -ms-transform: rotate(-38deg);
            transform: rotate(-38deg);
}

.book:hover {
    -webkit-transform: scale(1.3) rotateX(20deg);
            transform: scale(1.3) rotateX(20deg);
    z-index: 50;
    -webkit-box-shadow: 5px 5px 25px #444;
            box-shadow: 5px 5px 25px #444;
    border-right: 10px solid #ddd;
    border-bottom: 20px solid #bbb;
}
/* end of suggested books */

/* popular books */
.popular-books {
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

.bg-video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.book-card {
    position: relative;
    -webkit-box-shadow: 5px 15px 50px #aaa;
            box-shadow: 5px 15px 50px #aaa;
    max-width: 420px;
    overflow: hidden;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.rotate {
    -webkit-perspective: 100rem;
            perspective: 100rem;
}

.back {
    position: absolute;
    top: -100%;
    background: #fefefe;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: top .8s, opacity .4s;
    -o-transition: top .8s, opacity .4s;
    transition: top .8s, opacity .4s;
}

.back-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.rotate:hover .book-card {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.rotate:hover .back {
    opacity: 1;
    top: 0;
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
    pointer-events: auto;
}
/* end of popular books */

/* contact */
.contact {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, .9))), url(../img/header-bg.jpeg) center /cover no-repeat fixed;
    background: -o-linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url(../img/header-bg.jpeg) center /cover no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url(../img/header-bg.jpeg) center /cover no-repeat fixed;
}

.items-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .6))), url(../img/items-wrapper-bg.jpg) center /cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)), url(../img/items-wrapper-bg.jpg) center /cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)), url(../img/items-wrapper-bg.jpg) center /cover no-repeat;
    border-radius: 5px;
}

.floating-item {
    background: rgba(0, 0, 0, .65);
    border-radius: 5px;
}

.first-item {
    -webkit-animation: float 15s infinite;
            animation: float 15s infinite;
}

.second-item {
    -webkit-animation: float 20s ease-in infinite;
            animation: float 20s ease-in infinite;
}

.third-item {
    -webkit-animation: float 40s linear infinite;
            animation: float 40s linear infinite;
}

.fourth-item {
    -webkit-animation: float 30s infinite;
            animation: float 30s infinite;
}

.fifth-item {
    -webkit-animation: float 25s ease-in-out infinite;
            animation: float 25s ease-in-out infinite;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(-60px);
                transform: translateX(-60px);
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(-60px);
                transform: translateX(-60px);
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    background: transparent;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: rgba(250, 250, 250, .8);
    -webkit-box-shadow: none;
            box-shadow: none;
}
/* end of contact */
